
.text-shadow{
    text-shadow: 3px 3px 3px black;
}

.flashes h4{
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

@media only screen and (max-width: 992px){
nav a.brand-logo {
    left: 35%;
    transform: translateX(-50%);
}}

a.btn-large.red{
    margin:10px;
}



.modal {
   top: 20% !important;
   border-radius: 6px;
   padding: 0 10px;
   max-width: 400px;
   text-transform: none;   
}
.edit-modal {
    height: 195px;
}

.modal .modal-content {
   padding: 24px 30px 0px 30px;
}

.modal .modal-footer {
    text-align: center;
}

.main-footer{
    text-align: center;
    margin-top: 50px!important;
}

.responsive{
  width: 100%;
  height: auto;
}

.info-row{
    margin: 40px;
}

.avatarpic{
    width:90px;
    border-radius: 30%;
}

div#map {
    min-height: 360px;
}
.maps{
    padding-bottom: 50px;
}

/* thanks for code snipet to https://www.youtube.com/watch?v=9YffrCViTVk */
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-row{
    margin-top: 30px;
}