{% extends "base.html" %}
{% block content %}

    <h3 class="center-align light-green-text text-shadow darken-2">Add New Dog Post</h3>

<div class="row card-panel gray lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_dog') }}">
        <!--To choose in which city you are-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-green-text text-darken-2">topic</i>
                <select id="cities_name" name="cities_name" class="validate" required>
                    <option value="" disabled>Choose City</option>
                    {% for cities in cities %}
                            {% if cities.cities_name == dogs.cities_name %}
                                <option value="{{ cities.cities_name }}" selected>{{ cities.cities_name }}</option>
                            {% else %}
                                <option value="{{ cities.cities_name }}">{{ cities.cities_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>City Select</label>
            </div>
        </div>
        <!--For Post Code-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-green-text text-darken-2">edit_location</i>
                <input id="post_code" name="post_code" minlength="6" maxlength="8" type="text" class="validate" pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}" required>
                <label for="post_code">Post Code</label>
            </div>
        </div>
        <!--For Dogs Name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-green-text text-darken-2">pets</i>
                <input id="dogs_name" name="dogs_name" minlength="3" maxlength="20" type="text" class="validate" pattern="^[a-zA-Z]{3,20}$" required>
                <label for="dogs_name">Dogs Name</label>
            </div>
        </div>
        <!--For Dogs Age-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-green-text text-darken-2">pets</i>
                <input id="dogs_age" name="dogs_age" minlength="1" maxlength="2" type="text" class="validate" pattern="^[0-9]{1,2}$" required>
                <label for="dogs_age">Dogs Age</label>
            </div>
        </div>
        <!--For Description about the dog-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-green-text text-darken-2">notes</i>
                <textarea id="about_dog" name="about_dog" minlength="50" maxlength="300" class="materialize-textarea validate" pattern="^[a-zA-Z]{50,300}$" required> </textarea>
                <label for="about_dog">About a Dog</label>
            </div>
        </div>
        <!--For Contact Info-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix light-green-text text-darken-2">smartphone</i>
                <input id="contact_info" name="contact_info" minlength="11" maxlength="11" type="text" class="validate" pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$" required>
                <label for="contact_info">Contact Mobile Nummber</label>
            </div>
        </div>
        <!--For IMG URL-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-green-text text-darken-2">insert_photo</i>
                    <input id="img_url" name="img_url" type="text" minlength="5" pattern="https://.*" class="validate"
                            required />
                        <label for="image_url">Add an image URL</label>
                </div>
            </div>
        <!--For letting everybody know that your dog found partner-->
        <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="material-icons prefix light-green-text text-darken-2">favorite</i>
                        <label for="found_partner">
                            {% if dog.found_partner == "on" %}
                                <input type="checkbox" id="found_partner" name="found_partner" checked>
                            {% else %}
                                <input type="checkbox" id="found_partner" name="found_partner">
                            {% endif %}
                            <span class="lever"></span>
                            Found Partner
                        </label>
                    </div>
                </div>
            </div>
            <!--For submit button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-small light-green darken-2 text-shadow">Edit Post<i class="material-icons right">create</i>
                    </button>
                    <!-- cancel button -->
                    <a href="{{ url_for('get_dogs') }}" class="btn-small orange text-shadow">
                        Cancel <i class="material-icons right">Cancel</i>
                    </a>
                    <!--delete button-->
                    <a data-target="{{ dog._id }}" class="btn-small red text-shadow modal-trigger">Delete <i class="material-icons right">delete</i>
                    </a>                
                </div>
            </div>
            <!--Confirming for deleting-->
            <div id="{{ dog._id }}" class="modal center-align">
                <div class="modal-content">
                    <div class="row">
                        <div class="col s12">
                            <h2 class="red-text flow-text"><strong>Warning!</strong></h2>
                            <h5 class="red-text"><strong>Deleting is permanent!</strong></h5>
                        </div>
                    </div>
                </div>
                    <div class="modal-footer modal-btns">
                        <a class="btn-small orange text-shadow modal-close"
                        href="#">
                            Cancel <i class="material-icons right">cancel</i>
                            </a>
                            <a class="btn-small red text-shadow"
                            href="{{ url_for('delete_dog', dog_id=dog._id) }}">
                            Delete <i class="material-icons right">delete</i>
                            </a>
                    </div>
        </div>
    </form>
</div>

{% endblock %}
