{% extends "base.html" %}
{% block content %}

    <h3 class="center-align light-green-text text-shadow darken-2">Manage Cities</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_cities') }}" class="btn-small light-green darken-2 text-shadow">
                Add City <i class="material-icons right">add</i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for citie in cities %}
            <div class="col s12 m3">
                <div class="card light-green darken-2 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ citie.cities_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_cities', citie_id = citie._id)}}" class="ight-blue accent-2 btn-small">Edit <i class="material-icons right">create</i></a>

                       <a data-target="{{ citie._id }}" class="btn-small red text-shadow modal-trigger">Delete <i class="material-icons right">delete</i>
                    </a>                
                    </div>
                </div>
            </div>
             <!--Confirming for deleting-->
            <div id="{{ citie._id }}" class="modal center-align">
                <div class="modal-content">
                    <div class="row">
                        <div class="col s12">
                            <h2 class="red-text flow-text"><strong>Warning!</strong></h2>
                            <h5 class="red-text"><strong>Deleting is permanent!</strong></h5>
                        </div>
                    </div>
                </div>
                    <div class="modal-footer modal-btns">
                        <a class="btn-small orange text-shadow modal-close"
                        href="#">
                            Cancel <i class="material-icons right">cancel</i>
                            </a>
                            <a class="btn-small red text-shadow"
                            href="{{ url_for('delete_cities', citie_id=citie._id) }}">
                            Delete <i class="material-icons right">delete</i>
                            </a>
                    </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
