{% extends "base.html" %}
{% block content %}

    <h3 class="center-align light-green-text text-shadow darken-2">Manage Cities</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_cities') }}" class="btn-small light-green darken-2 text-shadow">
                Add City <i class="material-icons right">add</i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for citie in cities %}
            <div class="col s12 m3">
                <div class="card light-green darken-2 text-shadow center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ citie.cities_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="ight-blue accent-2 btn-small">Edit</a>
                        <a href="#" class="btn-small red text-shadow">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}