{% extends "base.html" %}
{% block content %}

<h3 class="center-align light-green-text text-shadow darken-2">Register</h3>

<!--User registration-->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for             ('register') }}">
      <div class="card-panel">
            <!--Username field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix ight-green-text text-darken-3 ">account_circle</i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!--Password field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix ight-green-text text-darken-3 ">lock</i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!--Submit button field-->
            <div class="row">
                 <button type="submit" class="col s12 btn-large light-green         text-shadow darken-2">Register <i class="material-icons                 prefix">how_to_reg</i>
                 </button>
            </div>
       </div>
    </form>
</div>
<div class="row">
        <div class="col s12">
            <p class="center-align">
                <em>Already Registered</em>
                <a href="{{ url_for('login') }}" class="light-green-text text-darken-3">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}